# Composer
/vendor/
composer.lock

# PHPUnit
/.phpunit.result.cache
/.phpunit.cache

# IDE / editor files
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Runtime
/runtime/
